@font-face {
  font-family: "Ziclets";
  src: url("Ziclets\ W00/ZicletsW00.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.titul {
  font-family: "Ziclets";
  color: #680f13;
  font-size: 2.5rem;
  letter-spacing: 2px;
}
header {
  background-color: #bf9b78;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f3eed9;
}
h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

p {
  text-align: justify;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  margin: auto;
}
#onas {
  max-width: 85%;
  margin-bottom: 2rem;
}
#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 650px;
  width: 90%;
  border: #bc827b 3px solid;
  min-height: 75vh;
  background-image: url(../pizza-logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: overlay;
}
#menu .titul {
  text-align: center;
  margin-top: 1rem;
}

.site-footer {
  background-color: #bf9b78;
  color: #000;
  display: grid;
  grid-auto-rows: auto;
  padding: 1.5rem;
  font-family: "Atkinson Hyperlegible", sans-serif;
  flex-wrap: wrap;
  text-align: center;
}
.contacts {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin-bottom: 1rem;
}
.footer-section p {
  margin: 1rem 0;
  font-size: 0.95rem;
}
.ikonky {
  vertical-align: middle;
  padding-right: 16px;
}

.ikonky a {
  margin: 0 0.5rem; /* medzera medzi ikonami */
  display: inline-block;
}
