body {
  height: 100vh;
}
main {
  height: 100%;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
}
img {
  position: absolute;
  width: 60px;
  opacity: 0.6;
  animation-name: fall, spin;
  animation-iteration-count: infinite;
}

img:nth-child(1) {
  left: 5%;
  animation-duration: 25s, 100s;
}
img:nth-child(2) {
  left: 25%;
  animation-duration: 30s, 100s;
}
img:nth-child(3) {
  left: 50%;
  animation-duration: 22s, 100s;
}
img:nth-child(4) {
  left: 70%;
  animation-duration: 28s, 100s;
}
img:nth-child(5) {
  left: 85%;
  animation-duration: 26s, 100s;
}

@keyframes fall {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(110vh);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
